<!-- <%- include('topbot/head'); -%>
<!--main content start-->
<!-- <section id="main-content">
    <section class="wrapper">
<div class="row mt">
    <div class="col-lg-10">
      <h4><i class="fa fa-angle-right"></i> Delivery Management </h4>
      <div class="form-panel">
        <div class="form">
          <form class="cmxform form-horizontal style-form" id="signupForm" method="POST" action="/technician/del_ser">
            <div class="form-group ">
              <label for="did" class="control-label col-lg-2">Delivery Id</label>
              <div class="col-lg-6">
                <input class=" form-control" id="did" name="did" type="number" />
              </div>
            </div>
            <div class="form-group ">
              <label for="ddate" class="control-label col-lg-2">Delivery Date</label>
              <div class="col-lg-6">
                <input class=" form-control" id="ddate" name="ddate" type="date" />
              </div>
            </div>
            <div class="form-group ">
              <label for="dtime" class="control-label col-lg-2">Delivery Time</label>
              <div class="col-lg-6">
                <input class="form-control " id="dtime" name="dtime" type="time" />
              </div>
            </div>
            <div class="form-group ">
                <label for="dstatus" class="control-label col-lg-2">Delivery Status</label>
                <div class="col-lg-6">
                  <input class="form-control " id="dstatus" name="dstatus" type="text" />
                </div>
              </div>
        
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-theme" type="submit">Save</button>
                <button class="btn btn-theme04" type="button">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /form-panel -->
    
    <!-- </div> -->
    <!-- /col-lg-12 -->
  <!-- </div> -->
  <!-- /row -->
  <!-- </section>
</section> --> -->
      <!-- <%- include('topbot/foot'); -%> --> -->