<%- include('topbot/head'); -%>

  
    <!-- slider section -->
    <section class=" slider_section ">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Experience comfort Services <br>
                      <span>
                        Creating reality
                      </span>
                    </h1>
                    <p>
                      We will provide good services
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1"> Read more </a>
                      <a href="" class="btn-2">Get A Quote</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Financially friendly Services <br>
                      <span>
                        Creating reality
                      </span>
                    </h1>
                    <p>
                      Your trust is our services
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1"> Read more </a>
                      <a href="" class="btn-2">Get A Quote</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Experience comfort Services  <br>
                      <span>
                        Creating reality
                      </span>
                    </h1>
                    <p>
                         We will provide good services
                    </p>
                    <div class="btn-box">
                      <a href="" class="btn-1"> Read more </a>
                      <a href="" class="btn-2">Get A Quote</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container idicator_container">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
        </div>
      </div>
    </section>
    <!-- end slider section -->
  </div>

  <!-- service section -->

 <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Services
        </h2>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="box b1">
            <div class="img-box">
              <img src="images/techbanner1.jpeg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Preconstruction
              </h5>
              <p>
                Veritatis tempore labore, fugit quis nihil temporibus minima. Tenetur suscipit quibusdam ab necessitatibus aut libero hic eaque dolor a.
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box b2">
            <div class="img-box">
              <img src="images/techbanner2.JPEG" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Construction
              </h5>
              <p>
                Veritatis tempore labore, fugit quis nihil temporibus minima. Tenetur suscipit quibusdam ab necessitatibus aut libero hic eaque dolor a.
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box b3">
            <div class="img-box">
              <img src="images/actechnician1.JPEG" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Building Maintenance
              </h5>
              <p>
                Veritatis tempore labore, fugit quis nihil temporibus minima. Tenetur suscipit quibusdam ab necessitatibus aut libero hic eaque dolor a.
              </p>
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- end service section -->

  <!-- about section -->

<section class="about_section layout_padding-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img_container">
            <div class="img-box">
              <img src="images/techbanner1.jpeg" class="about_img1" alt="" />
              <img src="images/techbanner2.jpeg" class="about_img2" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="detail-box">
            <div class="heading_container ">
              <h2>
                Who Are We?
              </h2>
            </div>
            <p>
              Reprehenderit quia placeat odio. Consequuntur sunt quo expedita a. Ipsam nostrum maxime facere porro nemo itaque beatae, ad voluptate iste placeat debitis dolore asperiores fugiat totam eveniet consequatur natus. Aliquam.
            </p>
            <p>
              Sed alias, labore iusto facilis doloribus fugiat totam officia corporis vitae error, voluptates nihil veniam et dicta eveniet deserunt at delectus placeat eligendi ipsum voluptatibus aliquam tempore molestiae veritatis. Aspernatur.
            </p>
            <div class="btn-box">
              <a href="">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- end about section -->


 
 
  
  <%- include('topbot/foot'); -%>