<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Electro Store Ecommerce Category Bootstrap Responsive Web Template | Home :: w3layouts</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="Electro Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
	/>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta tag Keywords -->

	<!-- Custom-Files -->
	<link href="../web/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Bootstrap css -->
	<link href="../web/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<!-- Main css -->
	<link rel="stylesheet" href="css/fontawesome-all.css">
	<!-- Font-Awesome-Icons-CSS -->
	<link href="../web/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!-- pop-up-box -->
	<link href="../web/css/menu.css" rel="stylesheet" type="text/css" media="all" />
	<!-- menu style -->
	<!-- //Custom-Files -->

	<!-- web fonts -->
	<link href="../web//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	<link href="../web//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese"
	    rel="stylesheet">
	<!-- //web fonts -->
	<style>
		.dropbtn {
		  
		  color: white;
		  background-color: #007bff;
		  font-size: 16px;
		  border: none;
		}
		
		.dropdown {
			
		  position: relative;
		  display: inline-block;
		}
		
		.dropdown-content {
		  display: none;
		  position: absolute;
		  
		  min-width: 160px;
		  
		  z-index: 0;
		}
		
		.dropdown-content a {
		  color: black;
		  padding: 12px 16px;
		  text-decoration: none;
		  display: block;
		}
		
		.dropdown-content a:hover {color: #ddd;}
		
		.dropdown:hover .dropdown-content {display: block;}
		
		.dropdown:hover .dropbtn {color: #3e8e41;}
		</style>
</head>

<body>
	<!-- top-header -->
	<div class="agile-main-top">
		<div class="container-fluid">
			<div class="row main-top-w3l py-2">
				<div class="col-lg-4 header-most-top">
					<p class="text-white text-lg-left text-center">Offer Zone Top Deals & Discounts
						<i class="fas fa-shopping-cart ml-1"></i>
					</p>
				</div>
				<div class="col-lg-8 header-right mt-lg-0 mt-2">
					<!-- header lists -->
					<ul>
						<li class="text-center border-right text-white">
							<a class="play-icon popup-with-zoom-anim text-white" href="#small-dialog1">
								<i class="fas fa-map-marker mr-2"></i>Select Location</a>
						</li>
						<li class="text-center border-right text-white">
							<a href="#" data-toggle="modal" data-target="#exampleModal" class="text-white">
								<i class="fas fa-truck mr-2"></i>Track Order</a>
						</li>
						
						<li class="text-center border-right text-white">
							<a href="/login" data-toggle="modall" data-target="#exampleModal" class="text-white">
								<i class="fas fa-sign-in-alt mr-2"></i> Log In </a>
						</li>

						<div class="dropdown">
							<button class="dropbtn">Register  </button>
							<div class="dropdown-content">
								<a href="/register">Customer</a>
								<a href="/techregister">Technician</a>
							</div>
						  </div>

						  <li class="text-center border-right text-white">
							<a href="/logout" data-toggle="modall" data-target="#exampleModal" class="text-white">
								<i class="fas fa-sign-in-alt mr-2"></i> Log Out</a>
						</li>
						 
						

	

						
						

					</ul>
					<!-- //header lists -->
				</div>
			</div>
		</div>
	</div>


	<!-- //shop locator (popup) -->

	<!-- modals -->
	<!-- log in -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title text-center">Log In</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="#" method="post">
						<div class="form-group">
							<label class="col-form-label">Username</label>
							<input type="text" class="form-control" placeholder=" " name="Name" required="">
						</div>
						<div class="form-group">
							<label class="col-form-label">Password</label>
							<input type="password" class="form-control" placeholder=" " name="Password" required="">
						</div>
						<div class="right-w3l">
							<input type="submit" class="form-control" value="Log in">
						</div>
						<div class="sub-w3l">
							<div class="custom-control custom-checkbox mr-sm-2">
								<input type="checkbox" class="custom-control-input" id="customControlAutosizing">
								<label class="custom-control-label" for="customControlAutosizing">Remember me?</label>
							</div>
						</div>
						<p class="text-center dont-do mt-3">Don't have an account?
							<a href="#" data-toggle="modal" data-target="#exampleModal2">
								Register Now</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- register -->
	<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Register</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="#" method="post">
						<div class="form-group">
							<label class="col-form-label">Your Name</label>
							<input type="text" class="form-control" placeholder=" " name="Name" required="">
						</div>
						<div class="form-group">
							<label class="col-form-label">Email</label>
							<input type="email" class="form-control" placeholder=" " name="Email" required="">
						</div>
						<div class="form-group">
							<label class="col-form-label">Password</label>
							<input type="password" class="form-control" placeholder=" " name="Password" id="password1" required="">
						</div>
						<div class="form-group">
							<label class="col-form-label">Confirm Password</label>
							<input type="password" class="form-control" placeholder=" " name="Confirm Password" id="password2" required="">
						</div>
						<div class="right-w3l">
							<input type="submit" class="form-control" value="Register">
						</div>
						<div class="sub-w3l">
							<div class="custom-control custom-checkbox mr-sm-2">
								<input type="checkbox" class="custom-control-input" id="customControlAutosizing2">
								<label class="custom-control-label" for="customControlAutosizing2">I Accept to the Terms & Conditions</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- //modal -->
	<!-- //top-header -->

	<!-- header-bottom-->

				<!-- //logo -->
				<!-- header-bot -->
				<div class="col-md-9 header mt-4 mb-md-0 mb-4">
					<div class="row">
						<!-- search -->
						<div class="col-10 agileits_search">
							<form class="form-inline" action="/search" method="post">
								<input class="form-control mr-sm-2" type="search" placeholder="Search" name="pro" aria-label="Search" required pattern="[^'\x22]+" title="Invalid input">
								<button class="btn my-2 my-sm-0" type="submit">Search</button>
							</form>
						</div>
						<!-- //search -->
					
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- shop locator (popup) -->
	<!-- //header-bottom -->
	<!-- navigation -->
	<div class="navbar-inner">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="agileits-navi_search">
					<form action="#" method="post">
						<select id="agileinfo-nav_search" name="agileinfo_search" class="border" required="">
							<option value="">All Categories</option>
							<option value="Televisions">LG</option>
							<option value="Headphones">Voltas</option>
							<option value="Computers">Blue Star</option>
							<option value="Appliances">LLoyd</option>
							<option value="Mobiles">Mobiles</option>
						
						</select>
					</form>
				</div>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
				    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto text-center mr-xl-5">
						<li class="nav-item active mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="/">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>

						<li class="nav-item mr-lg-2 mb-lg-0 mb-2">
							<a class="nav-link" href="/aboutus">About Us</a>
						</li>

						<% 
						if (!locals.customer) {               
			            %>
						
						<li class="nav-item">
							<a class="nav-link" href="/contactus">Contact Us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/help">Help</a>
						</li>
						<% } %>


						<% 
						if (locals.customer) {               
						if (locals.customer.user_type=='custo'){ %>
							
							

							
								<!-- <li class="nav-item mr-lg-2 mb-lg-0 mb-2">
								<a class="nav-link" href="/profile">Profile</a>
							</li> -->
						
							
					        <li class="nav-item">
								<a class="nav-link" href="/bookcomp">Complaint Booking </a>
							</li>

						
			                
							<!-- <li class="nav-item">
								<a class="nav-link" href="/myorders">My Orders</a>
							</li> -->

							<li class="nav-item">
								<a class="nav-link" href="/servicerequest">My Complaints</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" href="/testmonial">Testmonial</a>
							</li>

				<% }} %>
				
						
					</ul>
				</div>
			</nav>
		</div>
	</div>

		<!-- banner -->
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<!-- Indicators-->
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item item1 active">
					<div class="container">
						<div class="w3l-space-banner">
							<div class="carousel-caption p-lg-5 p-sm-4 p-3">
								<p>Get the
									<span>Air</span> Conditioner</p>
								<h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">
									<span>Big</span>
									Sale
								</h3>
								<a class="button2" href="/">Shop Now </a>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item item2">
					<div class="container">
						<div class="w3l-space-banner">
							<div class="carousel-caption p-lg-5 p-sm-4 p-3">
								<p>advanced
									<span>Air</span> Conditioner</p>
								<h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">With lifetime
									<span>Warranty</span>
								</h3>
								<a class="button2" href="/">Shop Now </a>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item item3">
					<div class="container">
						<div class="w3l-space-banner">
							<div class="carousel-caption p-lg-5 p-sm-4 p-3">
								<p>Get flat
									<span>10%</span> Cashback</p>
								<h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">New
									<span>Standard</span>
								</h3>
								<a class="button2" href="/">Shop Now </a>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item item4">
					<div class="container">
						<div class="w3l-space-banner">
							<div class="carousel-caption p-lg-5 p-sm-4 p-3">
								<p>Get Now
									<span>New </span> Brand Air Conditioner</p>
								<h3 class="font-weight-bold pt-2 pb-lg-5 pb-4">More
									<span>Efficient</span>
								</h3>
								<a class="button2" href="/">Shop Now </a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
		<!-- //banner -->
	<!-- //navigation -->