<link href="img/favicon.png" rel="icon">
<link href="img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
<!--sidebar start-->
 <aside>
  <div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered"><a href="profile.html"><img src="img/Arya.jpg" class="img-circle" width="80"></a></p>
      <h5 class="centered"> 
        <% if (locals.admin) { 
            %>
      <%= locals.admin.first_name %>
        <%  } %>
      </h5>
      <li class="mt">
        <a class="active" href="/admin/index">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
          </a>
        </li>        
                        
        <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-desktop"></i>
          <span>Approval</span>
          </a>
          <ul class="sub">
            <li>
              <a href="/admin/approvaltech">
                <span>Approval of Technician</span>
                </a>
                </li>
                </ul>
                </li>
               
                <li class="sub-menu">
                  <a class="active" href="/admin/addcat">
                    <i class="fa fa-dashboard"></i>
                    <span>Add Category</span>
                    </a>
                  </li> 

      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-desktop"></i>
          <span>Add/Update</span>
          </a>
        <ul class="sub">
          <li>
            <a href="/admin/addprdt">
              <span>Add Brands</span>
              </a>
              </li>
          <li>
            <a href="/admin/brandlist">
              <span>Brand List</span>
              </a>
              </li>
          
        </ul>
      </li>
      <li class="sub-menu">
        <a href="javascript:;">
          <i class="fa fa-cogs"></i>
          <span>View</span>
          </a>
        <ul class="sub">
          <li><a href="/admin/view_comp">Complaints</a></li>
          <!-- <li><a href="/admin/order">Order List</a></li> -->
      
          </ul>
          </li>
          <!-- <li>
            <a href="/admin/mail_inbox">
              <i class="fa fa-envelope"></i>
              <span>Mail </span>
              <span class="label label-theme pull-right mail-info">2</span>
              </a>
          </li> -->
    
          <li>
            <a href="/admin/testimonial">
              <i class="fa fa-map-marker"></i>
              <span>Testimonial </span>
              </a>
          </li>

     
      <!-- <li>
        <a href="/admin/notification">
          <i class="fa fa-envelope"></i>
          <span>Notification </span>
          <span class="label label-theme pull-right mail-info">2</span>
          </a>
      </li>
    -->
   
      <li>
        <a href="/admin/google_maps">
          <i class="fa fa-map-marker"></i>
          <span>Google Maps </span>
          </a>
      </li>
    </ul>
  
  
    <!-- sidebar menu end-->
  </div>
</aside> 
<!--sidebar end-->

<!-- js placed at the end of the document so the pages load faster -->
<script src="lib/jquery/jquery.min.js"></script>

<script src="lib/bootstrap/js/bootstrap.min.js"></script>
<script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
<script src="lib/jquery.scrollTo.min.js"></script>
<script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
<script src="lib/jquery.sparkline.js"></script>
<!--common script for all pages-->
<script src="lib/common-scripts.js"></script>
<script type="text/javascript" src="lib/gritter/js/jquery.gritter.js"></script>
<script type="text/javascript" src="lib/gritter-conf.js"></script>
<!--script for this page-->
<script src="lib/sparkline-chart.js"></script>
<script src="lib/zabuto_calendar.js"></script>


<script type="application/javascript">
  $(document).ready(function() {
    $("#date-popover").popover({
      html: true,
      trigger: "manual"
    });
    $("#date-popover").hide();
    $("#date-popover").click(function(e) {
      $(this).hide();
    });

    $("#my-calendar").zabuto_calendar({
      action: function() {
        return myDateFunction(this.id, false);
      },
      action_nav: function() {
        return myNavFunction(this.id);
      },
      ajax: {
        url: "show_data.php?action=1",
        modal: true
      },
      legend: [{
          type: "text",
          label: "Special event",
          badge: "00"
        },
        {
          type: "block",
          label: "Regular event",
        }
      ]
    });
  });

  function myNavFunction(id) {
    $("#date-popover").hide();
    var nav = $("#" + id).data("navigation");
    var to = $("#" + id).data("to");
    console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
  }

  
</script>