<!-- <!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Aircon - Heating and Air Conditioning Bootstrap 4 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
    
    <!-- CSS  -->
    ========================= -->
    -->
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css"> -->
    
    <!-- Fonts CSS
    <link rel="stylesheet" href="assets/css/icofont.min.css">
    <link rel="stylesheet" href="assets/css/Pe-icon-7-stroke.css"> -->
    
    <!-- Plugins CSS -->
    <!-- <link rel="stylesheet" href="assets/css/plugins.css">
    
    <!-- Main Style CSS -->
    <!-- <link rel="stylesheet" href="assets/css/style.css">
    
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>

<!-- Main Wrapper Start -->
<div class="main-wrapper">
   
    <!-- header-area start -->
    <div class="header-area"> -->
       
        <!-- header-top start -->
        <div class="header-top pt--20 pb--20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-3 col-12">
                        <!-- logo start -->
                        <div class="logo">
                            <a href="/"><img src="assets/images/logo/logo.jpg" alt=""></a>
                        </div>
                        <!-- logo End -->
                    </div>
                    <div class="col-lg-8 col-md-9 col-12">
                        <!-- Contact-information-top Start -->
                        <div class="contact-information-top">
                           
                            <!-- Single-information-top Start -->
                            <div class="single-information-top">
                                <div class="info-icon">
                                    <i class="icofont-headphone-alt-2"></i>
                                </div>
                                <div class="info-content">
                                    <h4>Call Us Now </h4>
                                    <!-- <p>+03476298</p>
                                </div>
                            </div>
                            <!-- Single-information-top End -->
                            
                            <!-- Single-information-top Start -->
                            <div class="single-information-top">
                                <div class="info-icon">
                                    <i class="icofont-clock-time"></i>
                                </div>
                                <div class="info-content">
                                    <h4>Mon - Satday</h4>
                                    <p>9.00 am - 5.00 pm</p>
                                </div>
                            </div>
                            <!-- Single-information-top End -->
                            
                        </div>
                        <!-- Contact-information-top End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-top end -->
        
        <!-- header-bottom-area Start -->
        <div class="header-bottom-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-menu-wrap border-top-1">
                            <!-- main-menu-area Start -->
                            <div class="main-menu">
                                <nav class="main-navigation">
                                    <ul>
                                        <li class="active"><a href="/">Profile</a>
                                        </li>
                                        <li><a href="/aboutus">View</a>
                                            <ul class="sub-menu">
                                                <li><a href="/aboutus">A</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/service">SERVICES</a>
                                            <ul class="sub-menu">
                                                <li><a href="services-box.html">Services Box Page</a></li>
                                                <li><a href="single-services.html">Single Services</a></li>
                                                <li><a href="single-services-box.html">Single Services Box</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/login">Payment</a>
                                            <ul class="sub-menu">
                                                <li><a href="/login">Login Box Page</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="blog.html">Chat</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html">Blog Right Sidebar</a></li>
                                                <li><a href="blog-box.html">Blog Box Right Sidebar</a></li>
                                                <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
                                                <li><a href="blog-left-sidebar-box.html">Blog Box Left Sidebar</a></li>
                                                <li><a href="blog-fullwidth.html">Blog Grid Fullwidth</a></li>
                                                <li><a href="blog-fullwidth-box.html">Blog Box Grid Fullwidth</a></li>
                                                <li><a href="blog-details.html">Blog Details Right Sidebar</a></li>
                                                <li><a href="blog-details-box.html">Blog Box Details Right Sidebar</a></li>
                                                <li><a href="blog-details-left-sidebar.html">Blog Details Left Sidebar</a></li>
                                                <li><a href="blog-details-left-sidebar-box.html">Blog Box Details Left Sidebar</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/contactus">CONTACT</a>
                                            <ul class="sub-menu">
                                                <li><a href="contact-box.html">Contact Box Page</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/register">REGISTRATION</a>
                                            <ul class="sub-menu">
                                                <li><a href="/register">Customer</a></li>
                                                <li><a href="/techregister">Technician</a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- main-menu-area End -->

                            <!-- Make-apoinmant Start -->
                            <div class="make-apoinmant-button">
                                <a href="#" class="default-btn border-radius">Make Appointment</a>
                            </div>
                            <!-- Make-apoinmant End -->
                        </div>
                    </div>
                    <div class="col">
                        <!-- mobile-menu start -->
                        <div class="mobile-menu d-block d-lg-none"></div>
                        <!-- mobile-menu end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-bottom-area End -->
        
    </div> -->
    <!-- header-area end -->
    
     -->