<%- include('partials/header'); -%>


<html>
<body>
	<section style="margin-left: 100px;margin-right: 50px;">
	<div class="form-group">
<div>
	<br>
<h2>View order details</h2>

</div><br>
<div >
	<label>Ordered on:<a href="#"> 26/09/2019</a>
	</label>&nbsp;&nbsp;|&nbsp;&nbsp;

<label>Order id:<a href="#"></a></label>
</div></div>

<div class="cart_items">
								<ul class="cart_items_list">

									<!-- Cart Item -->
									<li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
										<div class="product d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto"><div style="border: 1px solid #ddd;border-radius:4px;margin-top: 14px !important;margin-bottom: 22px !important;padding: 18px 17px;display: block;padding-bottom: 100px">
	<div style="margin-right: 2%;float: left;width: 30%;">
<label style="margin-bottom: 1px;">Shipping Address</label>
<div>
	<ul>
		<li>user Address
		</li><br>
	</ul></div>
</div>




<div style="margin-right: 2%;float: left;width: 30%;">
<label style="margin-bottom: 1px;">Payment Method</label>
<div><ul><li>
mode of payment</li></ul></div>
</div>
</label>&nbsp;&nbsp;&nbsp;&nbsp;

<div class="product_text" style="margin-right: 2%;float: left;width: 30%;">
<label style="margin-bottom: 1px;">Order Summary</label>
<div>
	<ul style="margin-bottom: 3px;">
		<li>items:</li>
		<li>delivery charge:</li>
		<li>Order Total:</li></ul>

									
									
									
									
									



</div>
</div>
</div>
</div></div>

</div><br>
<div class="cart_items">
								<ul class="cart_items_list">

									<!-- Cart Item -->
									<li class="cart_item item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-end justify-content-start">
										<div class="product d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start mr-auto">
											<div><div class="product_number">1</div></div>
											<div>
												<h2>Delivered On</h2><div class="product_image"><img alt="" src="images/cart_item_1.jpg"></div></div>
											<div class="product_name_container">
												<div class="product_name"><a href="product.html">Cool Flufy Clothing without Stripes</a></div>
												<div class="product_text">Second line for additional info</div>
												<div><a href="#">Delivered 26/09/2019</a></div>
											</div>
										<button type="submit" ><h4><a href="review.php">Write a product review</a></h4></button>
										</div>
										
										
							</div>

							<!-- Cart Buttons -->
							
				</div>


</section>
<%- include('partials/footer'); -%>
