<%- include('main/head'); -%>
<%- include('main/sidebar'); -%>  
<section id="main-content">
  <section class="wrapper">
    <h3><i class="fa fa-angle-right"></i> Bill Generation </h3>
<div class="row mt">
    <div class="col-lg-12">
      <h4><i class="fa fa-angle-right"></i> Bill Generation for Delivery</h4>
      <div class="form-panel">
        <div class="form">
          <form class="cmxform form-horizontal style-form" id="signupForm" method="POST" action="/admin/billgeneration_delivery">
            <div class="form-group ">
              <label for="userid" class="control-label col-lg-2">User_Id</label>
              <div class="col-lg-10">
                <input class=" form-control" id="uid" name="uid" type="text" />
              </div>
            </div>
            <div class="form-group ">
              <label for="firstname" class="control-label col-lg-2">First name</label>
              <div class="col-lg-10">
                <input class=" form-control" id="fname" name="fname" type="text" />
              </div>
            </div>
            <div class="form-group ">
              <label for="secondname" class="control-label col-lg-2">Second Name</label>
              <div class="col-lg-10">
                <input class=" form-control" id="bid" name="sname" type="text" />
              </div>
            </div>
            <div class="form-group ">
              <label for="secondname" class="control-label col-lg-2">User Name</label>
              <div class="col-lg-10">
                <input class=" form-control" id="bid" name="uname" type="text" />
              </div>
            </div>
            <div class="form-group ">
              <label for="prdtid" class="control-label col-lg-2">Product Id</label>
              <div class="col-lg-10">
                <input class=" form-control" id="pid" name="pid" type="text" />
              </div>
            </div>
            <div class="form-group ">
              <label for="prdtname" class="control-label col-lg-2">Product Name</label>
              <div class="col-lg-10">
                <input class=" form-control" id="pname" name="pname" type="text" />
              </div>
            </div>
            <div class="form-group ">
              <label for="prdtmodecode" class="control-label col-lg-2">Product model code</label>
              <div class="col-lg-10">
                <input class=" form-control" id="pcode" name="pcode" type="text" />
              </div>
            </div>
            <div class="form-group ">
              <label for="prdt_Price" class="control-label col-lg-2">Product_Price/unit</label>
              <div class="col-lg-10">
                <input class="form-control " id="bprice" name="brperunit" type="text" />
              </div>
            </div>
            <div class="form-group ">
              <label for="prdt_Price" class="control-label col-lg-2">quantity</label>
              <div class="col-lg-10">
                <input class="form-control " id="bprice" name="qty" type="text" />
              </div>
            </div>
           
            <div class="form-group ">
              <label for="Warranty" class="control-label col-lg-2">AC Warranty_Period</label>
              <div class="col-lg-10">
                <input class="form-control " id="Warranty" name="warranty" type="text" />
              </div>
            </div>
           
            <div class="form-group ">
              <label for="firstname" class="control-label col-lg-2">Bill_Id</label>
              <div class="col-lg-10">
                <input class=" form-control" id="bid" name="bid" type="text" />
              </div>
            </div>
            <div class="form-group ">
              <label for="date" class="control-label col-lg-2">Date</label>
              <div class="col-lg-10">
                <input class=" form-control" id="date" name="date" type="text" />
              </div>
            </div>
            <div class="form-group ">
              <label for="time" class="control-label col-lg-2">Time</label>
              <div class="col-lg-10">
                <input class="form-control " id="time" name="time" type="text" />
              </div>
            </div>
            <div class="form-group ">
              <label for="amt" class="control-label col-lg-2">Amount</label>
              <div class="col-lg-10">
                <input class="form-control " id="amt" name="amt" type="number" />
              </div>
            </div>
            <div class="form-group ">
              <label for="status" class="control-label col-lg-2">Status</label>
              <div class="col-lg-10">
                <input class="form-control " id="status" name="status" type="number" />
              </div>
            </div>
          
           
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-theme" type="submit">Save</button>
                <button class="btn btn-theme04" type="button">Cancel</button>
              </div>
            </div>
        
          </form>
        </div>
      </div>
      <!-- /form-panel -->
    </div>
    <!-- /col-lg-12 -->
  </div>
  <!-- /row -->
  </section>
  <%- include('main/foot'); -%>

